# .gitignore for Python projects

#### ignore compiled Python modules
*.pyc
*.pyo

#### ignore backup files made by text editor
*~

#### ignore virtual environment
venv/*

#### ignore misc files
nohup.out

#end
