{# wikiedit.html
   =============

Editting a page in a wiki
#}
{% extends "wiki_page.html" %}


{% block wikiCommands %}
<p class="command-header">Commands</p>

<p><a class='btn btn-success' onclick="submit()">
<i class='fa fa-save'></i> Save changes</a></p>

<p><a class='btn btn-default' href="/{{siteName}}/w/{{pathName}}">
<i class='fa fa-undo'></i>
Cancel changes</a></p>

<p><a class='btn btn-primary'>
<i class='fa fa-files-o'></i>
Rename article</a></p>

<hr>
<p><a class='btn btn-danger' onclick="deleteArticle()">
<i class='fa fa-times'></i> Delete article</a></p>
{% endblock wikiCommands %}


{% block wikiContents %}
<div id='edit_toolbar'>
  &nbsp;
  <span onclick='addAround("**", "**")'>
    <i class='fa fa-bold'></i></span>
  &nbsp; 
  <span onclick='addAround("*", "*")'>
    <i class='fa fa-italic'></i></span>  
  &nbsp; 
  <span onclick='addAround("<s>", "</s>")'> 
    <i class='fa fa-strikethrough'></i></span>
  &nbsp; 
  <span onclick='addAround("<sup>", "</sup>")'>  
    <i class='fa fa-superscript'></i></span>
  &nbsp; 
  <span onclick='addAround("<sub>", "</sub>")'>  
    <i class='fa fa-subscript'></i></span>
  &nbsp;  
  <span onclick='addAround("[", "]()")'>  
    <i class='fa fa-link'></i></span> 
  &nbsp; 
  <span onclick='addAround("", "![](img)")'>  
    <i class='fa fa-image'></i></span>
  &nbsp;  
  <span onclick='addTable()'>  
    <i class='fa fa-table'></i></span>
  
{#
  &nbsp;  
    <i class='fa fa-quote-left'></i>
#}    
</div>

<form id="theForm" method="POST"
      action="/{{siteName}}/wikiedit/{{pathName}}">
  <input id="delete_record" name="delete" type="hidden" value="0">
  <textarea name=source id=source rows=25 cols=70>{{source}}</textarea>
</form>
{% endblock wikiContents %}


{% block atend %}
<script>
function submit(){
    console.log("submit");
    document.forms['theForm'].submit();
}

function deleteArticle(){
    console.log("deleteArticle");
    document.getElementById("delete_record").value = "1";
    document.forms['theForm'].submit();
}

</script>
{% endblock atend %}
{# end #}
