{# wiki_page.html
   ==============

A page in a wiki
#}
{% extends "generic_10_2.html" %}

{% block wikiCommands %}
<p class="command-header">Commands</p>
<p>
<a class='btn btn-success'
href="/{{siteName}}/wikiedit/{{pathName}}">
<i class='fa fa-edit'></i> Edit page</a></p>

<p><a class='btn btn-default'
href="/{{siteName}}/history/{{pathName}}">
<i class='fa fa-history'></i> History</a></p>
{% endblock wikiCommands %}

{% block wikiContents %}
<div class="wiki-contents">
  {{wikiText}}
</div>
<br><br>
{% endblock wikiContents %}

{# end #}
